<!DOCTYPE html>
<html>
<head>
    <title>Alerts</title>
</head>
<body itemscope itemtype="http://schema.org/EmailMessage">
    <p>
        Hello!
        <br><br>
        This notification is for your OpenShift managed cluster running Red Hat Data Access Service.
        <br><br>
        <strong>
        {{ with (index .Alerts.Firing 0).Labels }}
            {{ if eq .alertname "DataSourceErrorState" }}
                Data Source {{ .namespace_resource_name }} in error state
            {{ end }}
            {{ if eq .alertname "BucketPolicyErrorState" }}
                Bucket Policy {{ .bucket_name }} in error state
            {{ end }}
            <br>
        {{ end }}
        </strong>
        <br>
        If you have any questions, please <a clicktracking=off href="https://access.redhat.com/support/contact/technicalSupport/">contact us</a>. Review the <a clicktracking=off href="https://access.redhat.com/support/policy/support_process">support process</a> for guidance on working with Red Hat support.
        <br><br>
        Thank you for choosing Red Hat Data Access Service,
        <br>
        Data Access Service Team
    </p>
</body>
</html>
