
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: managedmcgs.mcg.openshift.io
spec:
  group: mcg.openshift.io
  names:
    kind: ManagedMCG
    listKind: ManagedMCGList
    plural: managedmcgs
    singular: managedmcg
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ManagedMCG is the Schema for the managedmcgs API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ManagedMCGSpec defines the desired state of ManagedMCG
            properties:
              reconcileStrategy:
                description: ReconcileStrategy represent the action the deployer should
                  take whenever a recncile event occures
                type: string
            type: object
          status:
            description: ManagedMCGStatus defines the observed state of ManagedMCG
            properties:
              components:
                properties:
                  StorageCluster:
                    properties:
                      state:
                        type: string
                    required:
                    - state
                    type: object
                  alertmanager:
                    properties:
                      state:
                        type: string
                    required:
                    - state
                    type: object
                  prometheus:
                    description: Noobaa       ComponentStatus `json:"noobaa"`
                    properties:
                      state:
                        type: string
                    required:
                    - state
                    type: object
                required:
                - StorageCluster
                - alertmanager
                - prometheus
                type: object
              reconcileStrategy:
                description: ReconcileStrategy represent the action the deployer should
                  take whenever a recncile event occures
                type: string
            required:
            - components
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
